h2 {
    margin-bottom: 20px;
}

.name {
    font-weight: 500;
    margin-bottom: 0;
}

.profile-name {
    font-size: 12px;
}

.user-name {
    font-size: 13px;
}

.link {
    text-decoration: none;
}