.btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}

.info {
    border-color: #2196f3;
    color: dodgerblue;
}

.info:hover {
    background: #2196f3;
    color: white;
}